In [3]:
import graphlab as gl
import pandas as pd
import warnings
import re
import os
gl.canvas.set_target('ipynb')
import matplotlib.pyplot as plt

[INFO] This non-commercial license of GraphLab Create is assigned to arsheth@cs.stonybrook.eduand will expire on October 25, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-3550 - Server binary: /Users/arpita/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1446406192.log
[INFO] GraphLab Server Version: 1.6.1

In [2]:
review_business_user = gl.SFrame.read_csv(url='~/Downloads/review_business.csv')

PROGRESS: Finished parsing file /Users/arpita/Downloads/review_business.csv
PROGRESS: Parsing completed. Parsed 100 lines in 1.06972 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,float,float,int,float,float,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/arpita/Downloads/review_business.csv
PROGRESS: Parsing completed. Parsed 330071 lines in 1.53857 secs.

In [3]:
review_business_user.rename({'average_stars': 'business_avg_stars', 
                            'stars.x':'stars',
                            'review_count.x': 'business_review_count',
                            'review_count.y':'user_review_count',
                            'stars.y':'user_avg_stars'})

Columns:
	business_id	str
	review_id	str
	user_id	str
	latitude	float
	longitude	float
	stars	int
	user_avg_stars	float
	business_avg_stars	float
	business_review_count	int
	user_review_count	int

Rows: 330071

Data:
+------------------------+------------------------+------------------------+
|      business_id       |       review_id        |        user_id         |
+------------------------+------------------------+------------------------+
| VFslQjSgrw4Mu5_Q1xk1KQ | SJMe_HjuctK2ZULgp7Vw-Q | ---1lKK3aKOuomHnwAkAow |
| KG3Y2qyrru2SZxR_c5gHyg | AES9Y4COhYbXNk_-a0unTA | ---1lKK3aKOuomHnwAkAow |
| gbeCaZrCz1X5RcxX6GC1ng | FWyGE6sAD-q0jP3FY82-Aw | ---crLYmdoy-u29cBZjWfg |
| 0iSN6PgiXKP4oSVL037ATg | Y_6kqYUTiqWBgXdMj89nKA | ---crLYmdoy-u29cBZjWfg |
| EtHDmvirGVYBXX3kUmQQrQ | LBkrc7yHYKV3yNCojGb-Ww | --1PqS9ZNtl5NMX-xKWg8w |
| cXzZBLXWwySNh5uHgIrKhQ | QIHn1BpzaAT7DDOwkR0YxA | --1yz_UxqRxOpHMNlsAhxg |
| 3ukajhh9kfXcLqMGzh_MkA | 9nTFJxv2j5-qqDwweCzSzQ | --3XCYZDck2EirNivs1RrQ |
| BKlN_RDN6vzQQ_bg4n4R6Q | diUZbMNTuRcUWX4-ML4-dg | --3XCYZDck2EirNivs1RrQ |
| 9Ing9MCm4QvL1y91SfdQ1w | C4XJYafmJPDhRZHB4CceUA | --3XCYZDck2EirNivs1RrQ |
| XqKhC29UQ1ya1Py3bTzvAA | MJlp5vJED4q3ah8Jyi5ghg | --3XCYZDck2EirNivs1RrQ |
+------------------------+------------------------+------------------------+
+---------------+----------------+-------+----------------+--------------------+
|    latitude   |   longitude    | stars | user_avg_stars | business_avg_stars |
+---------------+----------------+-------+----------------+--------------------+
|   37.442975   |  -122.1630475  |   5   |      4.0       |   4.01363636364    |
|   37.4441835  |  -122.1706461  |   5   |      3.5       |   4.01363636364    |
|   42.3726362  |  -71.1185783   |   4   |      4.0       |   4.77777777778    |
| 37.8695178277 | -122.259099483 |   5   |      4.5       |   4.77777777778    |
|   40.801889   |   -73.956847   |   4   |      3.5       |        4.2         |
|    32.86769   |  -117.227913   |   5   |      4.5       |        5.0         |
|   32.8755552  |  -117.2360166  |   4   |      2.0       |   4.17647058824    |
|   32.8732257  |  -117.2176194  |   4   |      2.5       |   4.17647058824    |
|   32.8851283  |  -117.2390077  |   4   |      3.0       |   4.17647058824    |
|   32.8732257  |  -117.2176194  |   5   |      4.0       |   4.17647058824    |
+---------------+----------------+-------+----------------+--------------------+
+-----------------------+-------------------+
| business_review_count | user_review_count |
+-----------------------+-------------------+
|          1146         |        220        |
|          262          |        220        |
|           12          |         9         |
|          248          |         9         |
|           89          |         5         |
|           34          |         1         |
|          127          |         34        |
|           85          |         34        |
|           14          |         34        |
|          433          |         34        |
+-----------------------+-------------------+
[330071 rows x 10 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
train_set, test_set = review_business_user.random_split(0.8, seed=1)
train_set.export_csv("train.csv")
test_set.export_csv("test.csv")

In [5]:
train = pd.DataFrame(train_set)

PandasError: DataFrame constructor not properly called!

In [6]:
model = gl.linear_regression.create(train_set, target='stars', 
                                    features = ['user_avg_stars','business_avg_stars', 
                                                'user_review_count', 'business_review_count'])

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 250659
PROGRESS: Number of features          : 4
PROGRESS: Number of unpacked features : 4
PROGRESS: Number of coefficients    : 5
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+
PROGRESS: | 1         | 2        | 1.132426     | 4.105467           | 4.274764             | 0.972421      | 0.968960        |
PROGRESS: +-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

In [7]:
predictions = model.predict(test_set)
predictions.head(5)

dtype: float
Rows: 5
[3.508183830339494, 4.303710124299224, 1.3440484345563521, 2.7278449370323656, 4.120692685085875]

In [8]:
from sklearn.metrics import roc_curve, auc

/Users/arpita/.graphlab/anaconda/lib/python2.7/site-packages/sklearn/metrics/ranking.py:292: DeprecationWarning: elementwise comparison failed; this will raise the error in the future.
  not (np.all(classes == [0, 1]) or
/Users/arpita/.graphlab/anaconda/lib/python2.7/site-packages/sklearn/metrics/ranking.py:293: DeprecationWarning: elementwise comparison failed; this will raise the error in the future.
  np.all(classes == [-1, 1]) or

ValueError: Data is not binary and pos_label is not specified

In [8]:
predictions[predictions > 5]

dtype: float
Rows: ?
[5.056601527715875, 5.361035507939389, 5.361135773877784, 5.756254998470675, 5.21376470433872, 5.138484591723101, 5.039965471279917, 5.3633161981683575, 5.214096315702681, 5.361238973326522, 5.361528524719819, 5.146976182913168, 5.036216489512068, 5.146254274391486, 5.3612409315979015, 5.042323117600791, 5.349394489742696, 5.512138300020922, 5.025920787738508, 5.484758695042505, 5.198888401509812, 5.29276171848109, 5.367917200499553, 5.755648998678064, 5.361066321488167, 5.755626010421352, 5.018514083384117, 5.335945274530209, 5.3610922432552215, 5.3046384489969896, 5.146150587323266, 5.3614052705247115, 5.362442660000198, 5.000696212768425, 5.000459975561135, 5.141808466705919, 5.361990727951472, 5.755546286848807, 5.082646153849861, 5.755646552787201, 5.015432736299886, 5.755741439324394, 5.158067456807052, 5.024638073651891, 5.010917949130112, 5.755556558031733, 5.158342820474665, 5.1461070567007035, 5.361194955084477, 5.158219078660075, 5.035990523487703, 5.361135773877784, 5.7564442761321235, 5.349612630474995, 5.361210118049126, 5.755872518811566, 5.75739655484041, 5.349477146825583, 5.75629901671272, 5.755631389822554, 5.175457650590188, 5.097629963146263, 5.033791923103717, 5.361238485707041, 5.090666101122695, 5.090460677464183, 5.3614620058405436, 5.361053604414378, 5.158765897245994, 5.361390107560064, 5.756460422129187, 5.361074146780231, 5.372826825937997, 5.755669541043915, 5.755546286848807, 5.755595196872573, 5.0349474200794155, 5.364432823596907, 5.246205812101142, 5.756254998470675, 5.225807761527957, 5.372883561253827, 5.755607913946362, 5.361179304500348, 5.361246310999105, 5.041398231311458, 5.755648998678064, 5.368512929109238, 5.03618567596329, 5.484683863251684, 5.1236011341607615, 5.361202780376541, 5.198698140815948, 5.059104398549117, 5.3613847281588605, 5.090974236610464, 5.755677366335979, 5.755613293347565, 5.3493705262470215, 5.203307943678171, ... ]

In [8]:
model.evaluate(test_set)

{'max_error': 3.943205192922206, 'rmse': 0.9722526799780629}

In [9]:
sf = gl.SFrame()
sf['Predicted-Rating'] = predictions
sf['Actual-Rating'] = test_set['stars']
predict_count = sf.groupby('Actual-Rating', [gl.aggregate.COUNT('Actual-Rating'), gl.aggregate.AVG('Predicted-Rating')])
predict_count.topk('Actual-Rating', k=5, reverse=True)

Columns:
	Actual-Rating	int
	Count	int
	Avg of Predicted-Rating	float

Rows: 5

Data:
+---------------+-------+-------------------------+
| Actual-Rating | Count | Avg of Predicted-Rating |
+---------------+-------+-------------------------+
|       1       |  5299 |       2.6153164339      |
|       2       |  6826 |      3.16492509121      |
|       3       | 12250 |      3.42599697888      |
|       4       | 22484 |      3.72576202496      |
|       5       | 19230 |      4.17815059753      |
+---------------+-------+-------------------------+
[5 rows x 3 columns]

In [11]:
coefs = model['coefficients']
coefs['name','value']

Columns:
	name	str
	value	float

Rows: 5

Data:
+-----------------------+-------------------+
|          name         |       value       |
+-----------------------+-------------------+
|      (intercept)      |   -2.25438208159  |
|     user_avg_stars    |   0.789304824857  |
|   business_avg_stars  |   0.812517741351  |
|   user_review_count   | 2.90326745581e-05 |
| business_review_count |  1.4848374946e-05 |
+-----------------------+-------------------+
[5 rows x 2 columns]

In [12]:
#logistic regression
review_business_user['is_good'] = review_business_user['stars'] >=3

In [13]:
train_set, test_set = review_business_user.random_split(0.8, seed=1)

In [14]:
model = gl.logistic_classifier.create(train_set, target="is_good", 
                                      features = ['user_avg_stars','business_avg_stars', 
                                                'user_review_count', 'business_review_count'])

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: Logistic regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 250930
PROGRESS: Number of classes           : 2
PROGRESS: Number of feature columns   : 4
PROGRESS: Number of unpacked features : 4
PROGRESS: Number of coefficients    : 5
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-accuracy | Validation-accuracy |
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+
PROGRESS: | 1         | 2        | 0.629864     | 0.846499          | 0.851057            |
PROGRESS: | 2         | 3        | 0.914685     | 0.849986          | 0.852896            |
PROGRESS: | 3         | 4        | 1.241481     | 0.850293          | 0.852130            |
PROGRESS: | 4         | 5        | 1.527377     | 0.850277          | 0.851900            |
PROGRESS: | 5         | 6        | 1.797984     | 0.850265          | 0.851900            |
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+

In [15]:
from sklearn.metrics import confusion_matrix
import pylab as pl

predictions = model.predict(test_set)
predictions.head(5)

pred = []
for prediction in predictions:
    pred.append(prediction)
#is_good = []
#for item in test_set['is_good']:
#    is_good.append(item)
    
    
#prediction = pd.DataFrame({"pred":pred,"actual":is_good})
#prediction.to_csv(path_or_buf="pred.csv",sep=',')
pred.head(5)

AttributeError: 'list' object has no attribute 'head'

In [19]:
from ggplot import *
from sklearn import metrics


fpr, tpr, _ = metrics.roc_curve(is_good, pred)

df = pd.DataFrame(dict(fpr=fpr, tpr=tpr))
ggplot(df, aes(x='fpr', y='tpr')) +\
    geom_line() +\
    geom_abline(linetype='dashed')+\
    xlab("Predicted") +\
    ylab("Actual")

Exception: Could not evaluate the 'y' mapping: 'True Positive Rate' (original error: invalid syntax (<string>, line 1))

In [20]:


result = model.evaluate(test_set)

In [21]:

print "Accuracy         : %s" % result['accuracy']
print "Confusion Matrix : \n%s" % result['confusion_matrix']

Accuracy         : 0.849521100334
Confusion Matrix :
+--------------+-----------------+-------+
| target_label | predicted_label | count |
+--------------+-----------------+-------+
|      0       |        1        |  8389 |
|      0       |        0        |  3736 |
|      1       |        1        | 52408 |
|      1       |        0        |  1556 |
+--------------+-----------------+-------+
[4 rows x 3 columns]

In [27]:
fig = plt.figure()
ax = fig.add_subplot(111)
labels = [0,1]
cm = confusion_matrix(is_good, pred)
cax = ax.matshow(cm)
pl.title('Confusion matrix of the classifier')
fig.colorbar(cax)
ax.set_xticklabels([''] + labels)
ax.set_yticklabels([''] + labels)
pl.xlabel('Predicted')
pl.ylabel('True')
pl.show()

PROGRESS: Finished parsing file /Users/arpita/Downloads/user.json
PROGRESS: Parsing completed. Parsed 1 lines in 1.56771 secs.

In [4]:
user_df = gl.SFrame.read_json(url = '~/Downloads/user.json');

PROGRESS: Finished parsing file /Users/arpita/Downloads/user.json
PROGRESS: Parsing completed. Parsed 1 lines in 1.49695 secs.

In [5]:
user_cluster = user_df['review_count','average_stars']

In [6]:
user_cluster

Columns:
	review_count	int
	average_stars	float

Rows: 130873

Data:
+--------------+---------------+
| review_count | average_stars |
+--------------+---------------+
|      31      | 3.22580645161 |
|      4       |      3.0      |
|      33      | 3.60606060606 |
|      33      | 3.30303030303 |
|      78      | 4.03846153846 |
|      1       |      4.0      |
|      12      | 4.18181818182 |
|      24      | 4.26086956522 |
|      4       |      3.0      |
|      29      | 3.89655172414 |
+--------------+---------------+
[130873 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [7]:
from math import sqrt
K = int(sqrt(user_cluster.num_rows() / 2.0))
K = 15

In [11]:
kmeans_model = gl.kmeans.create(user_cluster, num_clusters=255)
kmeans_model.summary()

PROGRESS: Initializing data.
PROGRESS: Batch size is larger than the input dataset. Switching to an exact Kmeans method.
PROGRESS: Choosing initial cluster centers with Kmeans++.
PROGRESS: +---------------+-----------+
PROGRESS: | Center number | Row index |
PROGRESS: +---------------+-----------+
PROGRESS: | 0             | 113391    |
PROGRESS: | 1             | 52683     |
PROGRESS: | 2             | 48339     |
PROGRESS: | 3             | 123053    |
PROGRESS: | 4             | 48569     |
PROGRESS: | 5             | 96209     |
PROGRESS: | 10            | 88938     |
PROGRESS: | 50            | 32517     |
PROGRESS: | 100           | 95624     |
PROGRESS: +---------------+-----------+
PROGRESS: Starting kmeans model training.
PROGRESS: Assigning points to initial cluster centers.
PROGRESS: +-----------+-------------------------------+
PROGRESS: | Iteration | Number of changed assignments |
PROGRESS: +-----------+-------------------------------+
PROGRESS: | 1         | 8145                          |
PROGRESS: | 2         | 2156                          |
PROGRESS: | 3         | 1973                          |
PROGRESS: | 4         | 1147                          |
PROGRESS: | 5         | 1229                          |
PROGRESS: | 6         | 1272                          |
PROGRESS: | 7         | 716                           |
PROGRESS: | 8         | 686                           |
PROGRESS: | 9         | 811                           |
PROGRESS: | 10        | 676                           |
PROGRESS: +-----------+-------------------------------+
PROGRESS: WARNING: Clustering did not converge within max_iterations.
Class                           : KmeansModel

Schema
------
Number of clusters              : 255
Number of examples              : 130873
Number of feature columns       : 2
Number of unpacked features     : 2

Training Summary
----------------
Training method                 : elkan
Number of training iterations   : 10
Batch size                      : 130873
Total training time (seconds)   : 1.6625

Accessible fields               :
   cluster_id                   : An SFrame containing the cluster assignments.
   cluster_info                 : An SFrame containing the cluster centers.

In [13]:
kmeans_model['cluster_info'][['cluster_id', 'size', 'sum_squared_distance']]

Columns:
	cluster_id	int
	size	int
	sum_squared_distance	float

Rows: 10

Data:
+------------+-------+----------------------+
| cluster_id |  size | sum_squared_distance |
+------------+-------+----------------------+
|     0      | 93899 |    3405511.75037     |
|     1      | 20257 |     4743428.3939     |
|     2      |  446  |    4318071.59679     |
|     3      |  936  |    2984677.95232     |
|     4      |   32  |    3907214.72809     |
|     5      |  4270 |    4165444.60253     |
|     6      |  1937 |    3149128.90977     |
|     7      |   3   |    1795210.82812     |
|     8      |  8900 |    4836029.78529     |
|     9      |  193  |    6695270.88202     |
+------------+-------+----------------------+
[10 rows x 3 columns]

In [14]:
kmeans_model['cluster_id'].head()

Columns:
	row_id	int
	cluster_id	int
	distance	float

Rows: 10

Data:
+--------+------------+----------------+
| row_id | cluster_id |    distance    |
+--------+------------+----------------+
|   0    |     0      | 18.4514656067  |
|   1    |     0      | 8.58621883392  |
|   2    |     0      | 20.4450073242  |
|   3    |     0      | 20.4490509033  |
|   4    |     1      | 7.85259008408  |
|   5    |     0      | 11.5585689545  |
|   6    |     0      | 0.717584431171 |
|   7    |     0      | 11.4570741653  |
|   8    |     0      | 8.58621883392  |
|   9    |     0      | 16.4455165863  |
+--------+------------+----------------+
[10 rows x 3 columns]

In [17]:
model = gl.logistic_classifier.create(train_set, target="stars", 
                                      features = ['user_avg_stars','business_avg_stars', 
                                                'user_review_count', 'business_review_count'])

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: Logistic regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 250750
PROGRESS: Number of classes           : 5
PROGRESS: Number of feature columns   : 4
PROGRESS: Number of unpacked features : 4
PROGRESS: Number of coefficients    : 20
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-accuracy | Validation-accuracy |
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+
PROGRESS: | 1         | 2        | 0.646381     | 0.432012          | 0.437576            |
PROGRESS: | 2         | 3        | 1.117710     | 0.458935          | 0.470450            |
PROGRESS: | 3         | 4        | 1.604037     | 0.460554          | 0.472340            |
PROGRESS: | 4         | 5        | 2.071209     | 0.460917          | 0.472415            |
PROGRESS: | 5         | 6        | 2.556285     | 0.460941          | 0.472415            |
PROGRESS: | 6         | 7        | 3.041364     | 0.460941          | 0.472415            |
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+

In [20]:
predictions = model.predict_topk(test_set, output_type = 'probability', k = 5)
predictions.head(5)

Columns:
	id	int
	class	int
	probability	float

Rows: 5

Data:
+----+-------+-----------------+
| id | class |   probability   |
+----+-------+-----------------+
| 0  |   4   |  0.414196043505 |
| 0  |   3   |  0.23779545812  |
| 0  |   5   |  0.185214534739 |
| 0  |   2   |  0.109089332634 |
| 0  |   1   | 0.0537046310016 |
+----+-------+-----------------+
[5 rows x 3 columns]

In [26]:
predictions = model.predict_topk(test_set, output_type = 'rank', k = 5)
predictions.head(5)

Columns:
	id	int
	class	int
	rank	int

Rows: 5

Data:
+----+-------+------+
| id | class | rank |
+----+-------+------+
| 0  |   4   |  0   |
| 0  |   3   |  1   |
| 0  |   5   |  2   |
| 0  |   2   |  3   |
| 0  |   1   |  4   |
+----+-------+------+
[5 rows x 3 columns]

In [28]:
predictions = model.predict(test_set)
predictions.head(5)
pred = []
for prediction in predictions:
    pred.append(prediction)
stars = []
for item in test_set['stars']:
    stars.append(item)
    
result = model.evaluate(test_set)
print "Confusion Matrix : \n%s" % result['confusion_matrix']

Confusion Matrix :
+--------------+-----------------+-------+
| target_label | predicted_label | count |
+--------------+-----------------+-------+
|      1       |        1        |  2277 |
|      1       |        5        |  157  |
|      1       |        3        |  968  |
|      4       |        1        |  449  |
|      5       |        2        |   4   |
|      4       |        2        |   14  |
|      2       |        4        |  3832 |
|      3       |        2        |   16  |
|      3       |        5        |  1146 |
|      3       |        3        |  1962 |
+--------------+-----------------+-------+
[25 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [29]:
result

{'accuracy': 0.4615140189744133, 'confusion_matrix': Columns:
 	target_label	int
 	predicted_label	int
 	count	int

 Rows: 25

 Data:
 +--------------+-----------------+-------+
 | target_label | predicted_label | count |
 +--------------+-----------------+-------+
 |      1       |        1        |  2277 |
 |      1       |        5        |  157  |
 |      1       |        3        |  968  |
 |      4       |        1        |  449  |
 |      5       |        2        |   4   |
 |      4       |        2        |   14  |
 |      2       |        4        |  3832 |
 |      3       |        2        |   16  |
 |      3       |        5        |  1146 |
 |      3       |        3        |  1962 |
 +--------------+-----------------+-------+
 [25 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

In [15]:
predictions = model.predict(test_set)
predictions.head(5)

dtype: int
Rows: 5
[4, 5, 1, 3, 5]

ImportError: No module named pandas_confusion